[submodule "rsfmri"]
	path = rsfmri
	url = https://github.com/cati-neuroimaging/rsfmri
	branch = master
[submodule "use-cases"]
	path = use-cases
	url = https://github.com/brainvisa/use-cases
	branch = master
[submodule "brainvisa-cmake"]
	path = brainvisa-cmake
	url = https://github.com/brainvisa/brainvisa-cmake
	branch = no_bv_env
[submodule "casa-distro"]
	path = casa-distro
	url = https://github.com/brainvisa/casa-distro
	branch = toolboxes
