[submodule "3dns-private"]
	path = 3dns-private
	url = https://bioproj.extra.cea.fr/git/3dns-private
	branch = master
[submodule "aims-free"]
	path = aims-free
	url = https://github.com/brainvisa/aims-free
	branch = master
[submodule "aims-gpl"]
	path = aims-gpl
	url = https://github.com/brainvisa/aims-gpl
	branch = master
[submodule "anatomist-free"]
	path = anatomist-free
	url = https://github.com/brainvisa/anatomist-free
	branch = master
[submodule "anatomist-gpl"]
	path = anatomist-gpl
	url = https://github.com/brainvisa/anatomist-gpl
	branch = master
[submodule "axon"]
	path = axon
	url = https://github.com/brainvisa/axon
	branch = master
[submodule "bioprocessing"]
	path = bioprocessing
	url = https://bioproj.extra.cea.fr/git/bioprocessing
	branch = master
[submodule "brainrat-gpl"]
	path = brainrat-gpl
	url = https://bioproj.extra.cea.fr/git/brainrat-gpl
	branch = master
[submodule "brainrat-private"]
	path = brainrat-private
	url = https://bioproj.extra.cea.fr/git/brainrat-private
	branch = master
[submodule "brainvisa-cmake"]
	path = brainvisa-cmake
	url = https://github.com/brainvisa/brainvisa-cmake
	branch = master
[submodule "brainvisa-share"]
	path = brainvisa-share
	url = https://github.com/brainvisa/brainvisa-share
	branch = master
[submodule "brainvisa-spm"]
	path = brainvisa-spm
	url = https://github.com/brainvisa/brainvisa-spm
	branch = master
[submodule "brainvisa_freesurfer"]
	path = brainvisa_freesurfer
	url = https://github.com/brainvisa/brainvisa_freesurfer
	branch = master
[submodule "bv-backend"]
	path = bv-backend
	url = https://github.com/sapetnioc/bv-backend
	branch = master
[submodule "capsul"]
	path = capsul
	url = https://github.com/populse/capsul
	branch = master
[submodule "casa-distro"]
	path = casa-distro
	url = https://github.com/brainvisa/casa-distro
	branch = master
[submodule "cati-auth"]
	path = cati-auth
	url = https://github.com/cati-neuroimaging/cati-auth
	branch = main
[submodule "catidb-client"]
	path = catidb-client
	url = https://github.com/cati-neuroimaging/catidb-client
	branch = main
[submodule "catidb-server"]
	path = catidb-server
	url = https://github.com/cati-neuroimaging/catidb-server
	branch = main
[submodule "constellation-gpl"]
	path = constellation-gpl
	url = https://github.com/brainvisa/constellation-gpl
	branch = master
[submodule "constellation-nonfree"]
	path = constellation-nonfree
	url = https://github.com/brainvisa/constellation-nonfree
	branch = master
[submodule "cortical_surface-gpl"]
	path = cortical_surface-gpl
	url = https://github.com/brainvisa/cortical_surface-gpl
	branch = master
[submodule "cortical_surface-nonfree"]
	path = cortical_surface-nonfree
	url = https://github.com/brainvisa/cortical_surface-nonfree
	branch = master
[submodule "brainvisa-disco"]
	path = brainvisa-disco
	url = https://bioproj.extra.cea.fr/git/brainvisa-disco
	branch = master
[submodule "highres-cortex"]
	path = highres-cortex
	url = https://github.com/neurospin/highres-cortex
	branch = master
[submodule "longitudinal_pipelines"]
	path = longitudinal_pipelines
	url = https://github.com/cati-neuroimaging/longitudinal_pipelines
	branch = master
[submodule "morpho-deepsulci"]
	path = morpho-deepsulci
	url = https://github.com/brainvisa/morpho-deepsulci
	branch = master
[submodule "morphologist-baby"]
	path = morphologist-baby
	url = https://bioproj.extra.cea.fr/git/brainvisa-t1mri/morphologist-baby
	branch = master
[submodule "morphologist-gpl"]
	path = morphologist-gpl
	url = https://github.com/brainvisa/morphologist-gpl
	branch = master
[submodule "morphologist-nonfree"]
	path = morphologist-nonfree
	url = https://github.com/brainvisa/morphologist-nonfree
	branch = master
[submodule "morphologist"]
	path = morphologist
	url = https://github.com/brainvisa/morphologist
	branch = master
[submodule "nuclear_imaging-gpl"]
	path = nuclear_imaging-gpl
	url = https://github.com/cati-neuroimaging/nuclear_imaging-gpl
	branch = master
[submodule "nuclear_imaging-nonfree"]
	path = nuclear_imaging-nonfree
	url = https://github.com/cati-neuroimaging/nuclear_imaging-nonfree
	branch = master
[submodule "populse_db"]
	path = populse_db
	url = https://github.com/populse/populse_db
	branch = master
[submodule "qualicati"]
	path = qualicati
	url = https://github.com/cati-neuroimaging/qualicati
	branch = main
[submodule "rsfmri"]
	path = rsfmri
	url = https://github.com/cati-neuroimaging/rsfmri
	branch = master
[submodule "sacha-gpl"]
	path = sacha-gpl
	url = https://github.com/cati-neuroimaging/sacha-gpl
	branch = master
[submodule "sacha-nonfree"]
	path = sacha-nonfree
	url = https://github.com/cati-neuroimaging/sacha-nonfree
	branch = master
[submodule "soma-base"]
	path = soma-base
	url = https://github.com/populse/soma-base
	branch = master
[submodule "soma-io"]
	path = soma-io
	url = https://github.com/brainvisa/soma-io
	branch = master
[submodule "soma-workflow"]
	path = soma-workflow
	url = https://github.com/populse/soma-workflow
	branch = master
[submodule "sulci-nonfree"]
	path = sulci-nonfree
	url = https://github.com/brainvisa/sulci-nonfree
	branch = master
[submodule "use-cases"]
	path = use-cases
	url = https://github.com/brainvisa/use-cases
	branch = master
[submodule "web"]
	path = web
	url = https://bioproj.extra.cea.fr/git/brainvisa-commu/web
	branch = master
[submodule "whasa-gpl"]
	path = whasa-gpl
	url = https://github.com/cati-neuroimaging/whasa-gpl
	branch = master
[submodule "whasa-nonfree"]
	path = whasa-nonfree
	url = https://github.com/cati-neuroimaging/whasa-nonfree
	branch = master
